<!doctype html>
<html lang="ja">
{% load static %}
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport"
     content="width=device-width, initial-scale=1, shring-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <footer class="text-right">
      {% block footer %}{% endblock %}
    </footer>
    {% block extra_js %}{% endblock %}
  </body>
</html>
